@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 
@font-face {
  font-family: 'arvo';
  src: url("../../public/fonts/Arvo/Arvo-Regular.ttf") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */


.productImgChange {
  >img {
    transition: 1s;

    &:last-child {
      opacity: 0;
    }
  }

  &:hover {
    >img {
      &:last-child {
        opacity: 1;
      }

      &:first-child {
        opacity: 0;
      }
    }
  }
}