@import "tailwindcss";

.productImgChange {
  >img {
    transition: 1s;

    &:last-child {
      opacity: 0;
    }
  }

  &:hover {
    >img {
      &:last-child {
        opacity: 1;
      }

      &:first-child {
        opacity: 0;
      }
    }
  }
}